.page-container {
    max-width: 30rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row-input {
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.resizable-input {
    display: inline-block;
    overflow: hidden;
    resize: horizontal;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    gap: 8px;
}
