img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    max-height: inherit;
}


.page-container {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog {
    height: 100%;
    width: 100%;
    max-width: 50rem;
}

.book-container {
    width: 25%;
    min-height: 25rem;
    float: left;
    padding-inline: 0.25rem;
    margin-bottom: 0.5rem;
}

    .book-container > .book {
        width: 100%;
        min-height: 25rem;
        padding: 0.5rem;
        box-shadow: 0 3px 2px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
        display: flex;
        flex-direction: column;
    }

    .book .book-info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

.img-wrap {
    position: relative;
    max-height: 15rem;
    min-height: 15rem;
    display: flex;
    justify-content: center;
}

.buy-section {
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
}

.buy-section > button {
    background-color: red;
    padding-inline: 10px;
    cursor: pointer;
}